<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer Template</title>
</head>
<body>

    <footer th:fragment="footer1(title, subtitle)">
        <div class="container" >

            <h1>This is Footer page</h1>
            <h1 th:text="${title}"></h1>
            <h1 th:text="${subtitle}"></h1>

            <h1>This is a Footer Page Fragment</h1>
        </div>
    </footer>
    <footer th:fragment="footer2">
        <div class="container" >

            <h1>This is Footer page 2</h1>
            <h1>This is a Footer Page Fragment 2</h1>
        </div>
    </footer>

</body>
</html>